html {
    box-sizing: border-box;
    background-color: #ffffff;
    line-height: 1.5;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: #000000;
  width: 1200px;
}

header {
  align-items: center;
}

nav ul {
  margin: 0;
  padding: .5rem 1rem;
  list-style-type: none;
  display: flex;
  align-content: flex-end;
}

nav li {
  padding: 2rem 1rem;
}

nav a {
  text-decoration: none;
  color: #000000;
}

nav a:hover {
  color: #696969;
  text-decoration: none;
}

p {
  color: #404040;
}

.banner {
  display: grid;
  grid-template-areas: "banner";
  place-items: center;
  place-items: center;
  place-content: center;
  margin: 0 auto 5rem;
  position: relative;
}

.banner img {
  width: 100%
}

.banner h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding-left: 3rem;
  color: #ffffff;
}

#about-me {
  display: flex;
  width: 1000px;
  margin: auto;
  padding-bottom: 2rem;
  gap: 2rem;
}

.abt {
  padding: 1rem;
}

#wrk {
  text-align: center;
  padding-bottom: 2rem;
  padding-left: 7rem;
  padding-right: 7rem;
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

article {
  flex: 300px;
  text-align: center;
  margin-bottom: 1rem;
}

article a {
  text-decoration: none;
}

article a:hover {
  color: #696969;
  text-decoration: none;
}

article p {
  text-align: left;
  padding: 1rem;
  color: #404040;
}

.button {
  padding: 1rem;
  margin: auto;
  background-color: #333333;
  color: #ffffff;
}

#contact-me {
  text-align: center;
}

#contact-me ul {
  display: flex;
  justify-content: center;
  padding: .5rem 1rem;
  margin: 0;
}

#contact-me li {
  list-style-type: none;
  padding: 1rem 1rem;
}

#contact-me a {
  color: #000000;
  text-decoration: none;
}

#contact-me a:hover {
  color: #696969;
  text-decoration: none;
}


footer {
  text-align: center;
}
